<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">User-Profile</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url('admin_home') }}">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="{{ url('admin_profile_index') }}">User</a>
                    </li>
                    <li class="breadcrumb-item active"><a href="#">Insert</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right text-md-right col-md-6 col-12">
        <div class="btn-group">
            <button class="btn btn-round btn-info" type="button"><i class="icon-cog3"></i> Settings</button>
        </div>
    </div>
</div>
